.block {
  margin: 10px;
  background: red;
  height: 40px;
}

.shapeWrap {
  width: 50%;
}

.shape {
  /* overflow: hidden; */
  position: relative;
  height: 0;
  padding-bottom: 56.52%;
  background: red;
}

.shape > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  padding: 5px;
}

.triangle {
  height: 0;
  border: 20px solid transparent;
  border-bottom: 20px solid black;
  width: 0;
}